[submodule "jquery-mousewheel"]
	path = jquery-mousewheel
	url = https://github.com/brandonaaron/jquery-mousewheel.git
[submodule "scroller"]
	path = scroller
	url = https://github.com/zynga/scroller.git
[submodule "canvas2svg"]
	path = canvas2svg
	url = https://github.com/gliffy/canvas2svg.git
