body {
	text-align:center;
	font: normal 20px/100% Verdana, Tahoma, sans-serif;  
}
p {
	margin: 5px;
}
canvas {
	display: inline;
	border: 1px solid black;
}
#canvas-container {
	width: 95%;
	padding: 5px;
}
#textfield-container {
	width: 100%;
	padding: 0px;
}
input {
	margin: 10px;
	padding: 10px;  
    border: solid 1px #E5E5E5;  
	outline: 0;  
    font-size: 15px;
    width: 200px;  
    background: #FFFFFF;  
}
button {
    width: auto;  
    padding: 9px 15px;  
    background: #617798;  
    border: 0;
	font-size: 15px;
    color: #FFFFFF;   
}